import * as S from './styles'

type {{pascalCase name}}Props = {

};

export default function {{pascalCase name}}({}: {{pascalCase name}}Props) {
  return (
    <S.Wrapper>
      <h1>{{pascalCase name}}</h1>
    </S.Wrapper>
  );
}
